      <div class='navbar'>
        <ul>
          <li><a href="/" class='img'><img width="100px" src="/static/OnlyCrabs_Logo.png"</a></li>
          <li class="dropdown">
            <a href="#" class="dropbtn">Streams</a>
            <div class="dropdown-content">
              <a href="/stream/crab-cam-1">Crab Cam 1</a>
              <a href="/stream/crab-cam-2">Crab Cam 2</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#" class="dropbtn">Videos</a>
            <div class="dropdown-content">
              <a href="/video/featured">Featured</a>
              <a href="/video/gallery">Gallery View</a>
              <a href="/video">List View</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#" class="dropbtn">Crabitat</a>
              <div class="dropdown-content">
                <a href="/crabitat/status">Status</a>
              </div>
          </li>
	  <!--<li style="float:right"><a href="/restart">Restart</a></li>-->
        </ul>
      </div>
